<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dragster</title>
	<link rel="stylesheet" href="/assets/game/css/reset.css">
	<link rel="stylesheet" href="/assets/game/css/custom.css">
</head>
<body>

	<script src="//cdn.jsdelivr.net/phaser/2.5.0/phaser.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var room_name;
		var rand = Date.now();
		var user_name = prompt('User name');
		var _uid = user_name+('_'+rand).slice(9, 13);
		var enemy_name = '';
		var socket = io(undefined, {
			query: {
				uid: _uid
			}
		});
		var enemy_pos_x = 0;

		socket.on('user.joined', function(data){
			room_name  = data.room;
			if (data.id != _uid) {
				enemy_name = data.id;
				// TODO: display info on screen
				console.log(enemy_name);
			}
		});

		socket.on('user.update', function(data){
			if (data.uid != _uid) {
				enemy_name = data.uid;
				enemy_pos_x = data.pos_x;
			}
		});
		socket.on('user.disconnected', function(data){
			console.log('user '+data.uid+' disconnected');
		});
	</script>
	<script type="module" src="/dist/bundle.js"></script>
</body>
</html>